@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-Variable.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../fonts/satoshi/Satoshi-VariableItalic.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-VariableItalic.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Light";
  src: url("../fonts/satoshi/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-Light.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../fonts/satoshi/Satoshi-LightItalic.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-LightItalic.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-Regular.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Italic";
  src: url("../fonts/satoshi/Satoshi-Italic.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-Italic.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/satoshi/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-Medium.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-Medium.ttf") format("truetype");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/satoshi/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-MediumItalic.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-Bold.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../fonts/satoshi/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/satoshi/Satoshi-BoldItalic.woff") format("woff"),
    url("../fonts/satoshi/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    /* Start from the left side */
    opacity: 0;
    /* Start with opacity 0 */
  }

  to {
    transform: translateY(0);
    /* End at original position */
    opacity: 1;
    /* End with full opacity */
  }
}

/* Apply slide-in animation to the text */
.text-slide-in {
  animation: slideIn 0.5s ease-out;
  /* Use slideIn animation with 0.5s duration */
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scaleBackground {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0);
  }
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/ClashDisplay-Regular.woff2") format("woff2"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Medium.woff") format("woff"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display-Medium";
  src: url("/fonts/ClashDisplay_Complete/ClashDisplay-Medium.woff2") format("woff2"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Medium.woff") format("woff"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display-Semibold";
  src: url("/fonts/ClashDisplay_Complete/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Semibold.woff") format("woff"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display-Bold";
  src: url("/fonts/ClashDisplay_Complete/ClashDisplay-Bold.woff2") format("woff2"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Bold.woff") format("woff"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display-Black";
  src: url("/fonts/ClashDisplay_Complete/ClashDisplay-") format("woff2"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Bold.woff") format("woff"),
    url("/fonts/ClashDisplay_Complete/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

.clash-display {
  font-family: "Clash Display" !important;
}

.clash-display-medium {
  font-family: "Clash-Display-Medium" !important;
}

.clash-display-semibold {
  font-family: "Clash-Display-Semibold" !important;
}

.clash-display-bold {
  font-family: "Clash-Display-Bold" !important;
}

/* app/globals.css */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}


.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.sidebar-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  width: 6px;
}

/* Handle on hover */
.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #55A132;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Animation */
.animate-in {
  transform: translateY(0);
  opacity: 1;
}

.animate-out {
  transform: translateY(-20px);
  opacity: 0;
}

.pattern-1 {
  background-image: url("/pattern-1.svg");
}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

@keyframes wide {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) translateY(20px);
  }

  to {
    transform: scale(1);
  }
}

.animate-wide {
  animation: wide 15s ease infinite alternate;
}